{% extends "Home/base.html" %}



   {% block content %}
        <style>
          .my {

            color: 3300CC;
            font-family: arial;
            padding: 8px;
            font-size: 30px;
            }

            .my2 {

            color: black;
            font-family: arial;
            padding: 8px;
            font-size: 20px;
            }


        </style>


<div > <h1 class = "my"> Project country:  </h1> <text class="my2"> {{ object.project_country }}   </text>   </div>
<div > <h1 class = "my"> Project status:  </h1> <text class="my2">{{ object.project_status }}  </text>       </div>
<div >  <h1 class = "my"> Project category:  </h1> <text class="my2">{{ object.project_category }} </text>    </div>
<div >  <h1 class = "my"> Project start date:  </h1> <text class="my2">{{ object.project_start_date }} </text>    </div>
<div >  <h1 class = "my"> Project due date:  </h1> <text class="my2">{{ object.project_due_date}} </text>    </div>

    {% endblock %}

